.top_bar {
  position: relative;
  display: flex;
  padding: 0 0 0.5rem 0;
  align-items: center;
  height: 4rem;
  border-radius: 1rem;
  gap: 1rem;

  .me {
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar {
      height: 3rem;
      border-radius: 50%;
    }

    .name {
      font-size: 1.1rem;
      color: #fec596;
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    position: absolute;
    margin-right: 0.325rem;
    bottom: 0;
    right: 0;
    height: 100%;
    gap: 0.325rem;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

    .logout_btn {
      background-color: #fcc396;
      margin-bottom: 0.2rem;
      border: none;
      border-radius: 0.35rem;
      font-size: 0.875rem;
      width: 3.5rem;
      height: 1.5rem;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

      &:hover {
        background-color: #909086;
        color: #000
      }
    }

    .logo {
      color: #fec596;
    }
  }


  @media only screen and (min-width: 770px) {
    display: none;
  }

}